Movie_Prediction

In [298]:
from IPython.core.display import HTML
css = open('./style/style-table.css').read() + open('./style/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [299]:
import re
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('movies_with_sentiment.csv', thousands = ",")
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment
0,1,Danny Collins,2015,Apr,Comedy,R,106,English,Dan Fogelman,Dan Fogelman,Al Pacino,58.0,71.0,18347.0,10000000,5348317,39.0
1,2,Project Almanac,2015,Jan,Sci-Fi,PG-13,106,English,Dean Israelite,Jason Pagan,Jonny Weston,47.0,64.0,52591.0,12000000,22331028,23.0
2,3,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230,8.0
3,4,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125,17.0
4,5,Stonewall,2015,Sep,Drama,R,129,English,Roland Emmerich,Jon Robin Baitz,Joey King,30.0,41.0,1176.0,13500000,186354,19.0

In [300]:
array = df['released_month']
cats= pd.Categorical(array)
df['released_month1'] = cats.codes

array = df['genre']
cats= pd.Categorical(array)
df['genre1'] = cats.codes

array = df['rated']
cats= pd.Categorical(array)
df['rated1'] = cats.codes

array = df['director']
cats= pd.Categorical(array)
df['director1'] = cats.codes

array = df['writer']
cats= pd.Categorical(array)
df['writer1'] = cats.codes

array = df['main_actor']
cats= pd.Categorical(array)
df['main_actor1'] = cats.codes

array = df['main_actor']
cats= pd.Categorical(array)
df['main_actor1'] = cats.codes

df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1
0,1,Danny Collins,2015,Apr,Comedy,R,106,English,Dan Fogelman,Dan Fogelman,Al Pacino,58.0,71.0,18347.0,10000000,5348317,39.0,0,4,5,34,37,3
1,2,Project Almanac,2015,Jan,Sci-Fi,PG-13,106,English,Dean Israelite,Jason Pagan,Jonny Weston,47.0,64.0,52591.0,12000000,22331028,23.0,4,12,4,42,57,65
2,3,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230,8.0,3,7,5,123,78,31
3,4,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125,17.0,4,0,5,96,100,26
4,5,Stonewall,2015,Sep,Drama,R,129,English,Roland Emmerich,Jon Robin Baitz,Joey King,30.0,41.0,1176.0,13500000,186354,19.0,11,7,5,119,68,61

In [301]:
median = df[df['metascore'].notnull()]['metascore'].median()
df['metascore1'] = df['metascore']
df.loc[df['metascore'].isnull(), 'metascore1'] = median

median = df[df['rating'].notnull()]['rating'].median()
df['rating1'] = df['rating']
df.loc[df['rating'].isnull(), 'rating1'] = median

median = df[df['votes'].notnull()]['votes'].median()
df['votes1'] = df['votes']
df.loc[df['votes'].isnull(), 'votes1'] = median

df['budget1'] = df['budget']
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1
0,1,Danny Collins,2015,Apr,Comedy,R,106,English,Dan Fogelman,Dan Fogelman,Al Pacino,58.0,71.0,18347.0,10000000,5348317,39.0,0,4,5,34,37,3,58.0,71.0,18347.0,10000000
1,2,Project Almanac,2015,Jan,Sci-Fi,PG-13,106,English,Dean Israelite,Jason Pagan,Jonny Weston,47.0,64.0,52591.0,12000000,22331028,23.0,4,12,4,42,57,65,47.0,64.0,52591.0,12000000
2,3,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230,8.0,3,7,5,123,78,31,46.0,41.0,209678.0,40000000
3,4,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125,17.0,4,0,5,96,100,26,51.0,54.0,35637.0,70000000
4,5,Stonewall,2015,Sep,Drama,R,129,English,Roland Emmerich,Jon Robin Baitz,Joey King,30.0,41.0,1176.0,13500000,186354,19.0,11,7,5,119,68,61,30.0,41.0,1176.0,13500000

In [304]:
df['profit_ratio'] = df['gross']/df['budget']
df['profit_ratio'] = df['profit_ratio']

In [305]:
# define successful movie as earning net profit = three times its budget
def isSuccess(x):
    if x >= 3:
        return 1
    else:
        return 0

df['successful'] = df['profit_ratio'].apply(isSuccess)

In [307]:
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio,successful
0,1,Danny Collins,2015,Apr,Comedy,R,106,English,Dan Fogelman,Dan Fogelman,Al Pacino,58.0,71.0,18347.0,10000000,5348317,39.0,0,4,5,34,37,3,58.0,71.0,18347.0,10000000,0.534832,0
1,2,Project Almanac,2015,Jan,Sci-Fi,PG-13,106,English,Dean Israelite,Jason Pagan,Jonny Weston,47.0,64.0,52591.0,12000000,22331028,23.0,4,12,4,42,57,65,47.0,64.0,52591.0,12000000,1.860919,0
2,3,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230,8.0,3,7,5,123,78,31,46.0,41.0,209678.0,40000000,4.154181,1
3,4,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125,17.0,4,0,5,96,100,26,51.0,54.0,35637.0,70000000,0.101388,0
4,5,Stonewall,2015,Sep,Drama,R,129,English,Roland Emmerich,Jon Robin Baitz,Joey King,30.0,41.0,1176.0,13500000,186354,19.0,11,7,5,119,68,61,30.0,41.0,1176.0,13500000,0.013804,0

In [319]:
df2 = df[df.columns[17:]]
df2.head()

,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio,successful
0,0,4,5,34,37,3,58.0,71.0,18347.0,10000000,0.534832,0
1,4,12,4,42,57,65,47.0,64.0,52591.0,12000000,1.860919,0
2,3,7,5,123,78,31,46.0,41.0,209678.0,40000000,4.154181,1
3,4,0,5,96,100,26,51.0,54.0,35637.0,70000000,0.101388,0
4,11,7,5,119,68,61,30.0,41.0,1176.0,13500000,0.013804,0

In [321]:
data = df2.values
data

array([[  0.00000000e+00,   4.00000000e+00,   5.00000000e+00, ...,
          1.00000000e+07,   5.34831700e-01,   0.00000000e+00],
       [  4.00000000e+00,   1.20000000e+01,   4.00000000e+00, ...,
          1.20000000e+07,   1.86091900e+00,   0.00000000e+00],
       [  3.00000000e+00,   7.00000000e+00,   5.00000000e+00, ...,
          4.00000000e+07,   4.15418075e+00,   1.00000000e+00],
       ...,
       [  1.10000000e+01,   7.00000000e+00,   4.00000000e+00, ...,
          5.00000000e+06,   9.40072200e-01,   0.00000000e+00],
       [  6.00000000e+00,   8.00000000e+00,   4.00000000e+00, ...,
          1.00000000e+07,   5.22185580e+00,   1.00000000e+00],
       [  4.00000000e+00,   1.00000000e+01,   4.00000000e+00, ...,
          1.00000000e+07,   3.07785870e+00,   1.00000000e+00]])

In [329]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[:, :10], data[:, 11], test_size=0.33, random_state=30)

### Naive Bayes

In [338]:
from sklearn.naive_bayes import GaussianNB
clf_NB = GaussianNB()
clf_NB.fit(X_train, y_train)

GaussianNB()

In [339]:
output_NB = clf_NB.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_NB = accuracy_score(y_test, output_NB)
accuracy_NB

0.91836734693877553

### SVM

In [340]:
from sklearn.svm import SVC
clf_svm = SVC()
clf_svm.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [341]:
output_svm = clf_svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, output_svm)
accuracy_svm

0.91836734693877553

### Logistic Regression

In [334]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression()
clf_lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [335]:
output_lr = clf_lr.predict(X_test)
accuracy_lr = accuracy_score(y_test, output_lr)
accuracy_lr

0.87755102040816324

### Random Forest

In [336]:
from sklearn.ensemble import RandomForestClassifier
clf_forest = RandomForestClassifier(n_estimators = 100, max_features = 5)
clf_forest.fit(X_train, y_train)
output_forest = clf_forest.predict(X_test)

In [337]:
accuracy_forest = accuracy_score(y_test, output_forest)
accuracy_forest

0.8571428571428571