Movie_Prediction

In [1]:
from IPython.core.display import HTML
css = open('./style/style-table.css').read() + open('./style/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [2]:
import re
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)
df = pd.read_csv('movies_with_sentiment.csv', thousands = ",")
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0

In [3]:
array = df['released_month']
cats= pd.Categorical(array)
df['released_month1'] = cats.codes

array = df['genre']
cats= pd.Categorical(array)
df['genre1'] = cats.codes

array = df['rated']
cats= pd.Categorical(array)
df['rated1'] = cats.codes

array = df['director']
cats= pd.Categorical(array)
df['director1'] = cats.codes

array = df['writer']
cats= pd.Categorical(array)
df['writer1'] = cats.codes

array = df['main_actor']
cats= pd.Categorical(array)
df['main_actor1'] = cats.codes

array = df['main_actor']
cats= pd.Categorical(array)
df['main_actor1'] = cats.codes

df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59

In [4]:
median = df[df['metascore'].notnull()]['metascore'].median()
df['metascore1'] = df['metascore']
df.loc[df['metascore'].isnull(), 'metascore1'] = median

median = df[df['rating'].notnull()]['rating'].median()
df['rating1'] = df['rating']
df.loc[df['rating'].isnull(), 'rating1'] = median

median = df[df['votes'].notnull()]['votes'].median()
df['votes1'] = df['votes']
df.loc[df['votes'].isnull(), 'votes1'] = median

df['budget1'] = df['budget']
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000

In [5]:
df['profit_ratio'] = df['gross']/df['budget']
df['profit_ratio'] = df['profit_ratio']
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000,4.154181
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000,1.139515
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000,0.101388
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000,0.625788
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000,0.023400

In [6]:
# define successful movie as earning net profit = three times its budget
def isSuccess(x):
    if x >= 3:
        return 1
    else:
        return 0

df['successful'] = df['profit_ratio'].apply(isSuccess)

In [7]:
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio,successful
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000,4.154181,1
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000,1.139515,0
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000,0.101388,0
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000,0.625788,0
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000,0.023400,0

In [8]:
df2 = df[df.columns[16:]]
df2.head()

,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio,successful
0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000,4.154181,1
1,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000,1.139515,0
2,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000,0.101388,0
3,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000,0.625788,0
4,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000,0.023400,0

In [9]:
#This is from http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html#example-model-selection-plot-confusion-matrix-py
def plot_confusion_matrix(cm,conf_prefix = "", title='Confusion matrix', cmap=plt.cm.Blues):
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.savefig(conf_prefix + "confus_matrix.png")

In [10]:
# data
data = df2.values[:327]

# 7 movies that opened March 17, 2016 with no gross, rating, metascore, and votes
opening_movies = df2.values[327:, 0:11]

In [11]:
from sklearn.cross_validation import train_test_split
    
X_train, X_test, y_train, y_test = train_test_split(data[:, 0:11], data[:, 12], test_size=0.33, random_state=2)

In [12]:
def ratioCount(l, val):
    count = 0
    for i in range(len(l)):
        if l[i][12] == val:
            count += 1
    return count
ratioCount(data, 0)

273

In [13]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.learning_curve import learning_curve
from sklearn import cross_validation

#Adapted from http://scikit-learn.org/stable/modules/generated/sklearn.learning_curve.learning_curve.html

def bias_var(clf,test_samp=None,y_samp=None,const_train=None,const_ty=None,title="",savestr=""):
    clf_RMS = clf
    
    cv = cross_validation.ShuffleSplit(test_samp.shape[0], n_iter=200,
                                   test_size=0.3, random_state=0)
    train_sizes,train_scores, test_scores = learning_curve(clf_RMS, test_samp, y_samp,cv=cv,n_jobs=2)
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    

    fig, ax1 = plt.subplots()

    ln1 = ax1.plot(train_sizes,train_scores_mean,color='r',marker='*',label="Training Score")
    ax1.set_ylabel("Error")
    ln2 = ax1.plot(train_sizes,test_scores_mean,color='b',marker='^',label="Cross-Validation Score")
    ax1.set_xlabel("Number of Training Examples")
    ax1.xaxis.set_label_coords(0.1,-0.06)
    ##http://stackoverflow.com/questions/5484922/secondary-axis-with-twinx-how-to-add-to-legend
    lns = ln1 + ln2
    labs = [l.get_label() for l in lns]
    ax1.legend(lns,labs,loc=0)
    plt.title(title + "Learning Curve",y=1.07)
    plt.savefig(savestr + "rms_vs_train.png")

In [14]:
# Show number of successful movies in train set
count = 0
for i in range(len(y_train)):
    if y_train[i] == 1:
        count += 1
print count

32

In [15]:
from sklearn.metrics import confusion_matrix, roc_curve, auc

# Show number of successful movies in test set
count = 0
for i in range(len(y_test)):
    if y_test[i] == 1:
        count += 1
print count

22

### Naive Bayes

In [16]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
clf_NB = GaussianNB()
nb_dec = clf_NB.fit(X_train, y_train)
nb_score = clf_NB.predict_proba(X_test)[:,1]
#nb_score = nb_dec.decision_function(X_test)
output_NB = clf_NB.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_NB = accuracy_score(y_test, output_NB)
accuracy_NB

print classification_report(y_test,output_NB)

cm = confusion_matrix(y_test, output_NB)
plt.figure()

plot_confusion_matrix(cm,conf_prefix="nb_",title="Naive Bayes Confusion Matrix")
plt.figure()
bias_var(clf_NB,test_samp=X_test,y_samp=y_test,const_train=X_train,const_ty=y_train,title="Naive Bayes ",savestr="nb_")

             precision    recall  f1-score   support

        0.0       0.80      1.00      0.89        86
        1.0       0.00      0.00      0.00        22

avg / total       0.63      0.80      0.71       108

/usr/lib/python2.7/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

### SVM

In [17]:
from sklearn.svm import SVC
clf_svm = SVC()
svm_dec = clf_svm.fit(X_train, y_train)
svm_score = svm_dec.decision_function(X_test)
output_svm = clf_svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, output_svm)
accuracy_svm

print classification_report(y_test,output_svm)

cm = confusion_matrix(y_test, output_svm)
plt.figure()
plot_confusion_matrix(cm,conf_prefix="svm_",title="SVM Confusion Matrix")

             precision    recall  f1-score   support

        0.0       0.80      1.00      0.89        86
        1.0       0.00      0.00      0.00        22

avg / total       0.63      0.80      0.71       108

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

clf_lr = LogisticRegression()
lr_score = clf_lr.fit(X_train, y_train)
lr_score = lr_score.decision_function(X_test)
output_lr = clf_lr.predict(X_test)
accuracy_lr = accuracy_score(y_test, output_lr)
accuracy_lr

print classification_report(y_test,output_lr)

cm = confusion_matrix(y_test, output_lr)
plt.figure()
plot_confusion_matrix(cm,conf_prefix="lg_",title="Logistic Regression Confusion Matrix")

             precision    recall  f1-score   support

        0.0       0.89      0.97      0.93        86
        1.0       0.80      0.55      0.65        22

avg / total       0.87      0.88      0.87       108

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf_forest = RandomForestClassifier(n_estimators = 100, max_features = 5)
rf_dec = clf_forest.fit(X_train, y_train)
rf_score = clf_forest.predict_proba(X_test)[:,1]
output_forest = clf_forest.predict(X_test)
accuracy_forest = accuracy_score(y_test, output_forest)
accuracy_forest

print classification_report(y_test,output_forest)

cm = confusion_matrix(y_test, output_forest)
plt.figure()
plot_confusion_matrix(cm,conf_prefix="rf_",title="Random Forest Confusion Matrix")
plt.figure()
bias_var(clf_forest,test_samp=X_test,y_samp=y_test,const_train=X_train,const_ty=y_train,title="Random Forest ",savestr="rf_")

             precision    recall  f1-score   support

        0.0       0.79      0.99      0.88        86
        1.0       0.00      0.00      0.00        22

avg / total       0.63      0.79      0.70       108

### Opening Movie Gross Profit Predictions

In [ ]:
clf_lr.predict(opening_movies)

<table>
    <tr>
        <th>Movie</th>
        <th>Budget</th>
        <th>Sentiment</th>
        <th>Success</th>
    </tr>
    <tr>
        <td>The Divergent Series: Allegiant</td>
        <td>115M</td>
        <td>40</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Miracles From Heaven</td>
        <td>13M</td>
        <td>41</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Midnight Special</td>
        <td>18M</td>
        <td>29</td>
        <td>0</td>
    </tr>
    <tr>
        <td>The Bronze</td>
        <td>3.5M</td>
        <td>-9</td>
        <td>1</td>
    </tr>  
    <tr>
        <td>The Program</td>
        <td>1.7M</td>
        <td>9</td>
        <td>1</td>
    </tr>
     <tr>
        <td>My Golden Days</td>
        <td>1.7M</td>
        <td>26</td>
        <td>1</td>
    </tr>
     <tr>
        <td>Batman v Superman: Dawn of Justice</td>
        <td>250M</td>
        <td>23</td>
        <td>0</td>
    </tr>
</table>

In [ ]:
#ROC Plot
#Adapted from:
#http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html#example-model-selection-plot-roc-py
#http://scikit-learn.org/stable/auto_examples/calibration/plot_compare_calibration.html

score_array = [lr_score,nb_score,rf_score,svm_score]
label_array = ["Logistic Regression", "Naive Bayes", "Random Forest", "SVM"]
#label_array = ["Logistic Regression", "Naive Bayes", "SVM"]

fpr = dict()
tpr = dict()
roc_auc = dict()

plt.figure()

for i in range(0,len(score_array)):
    fpr[i],tpr[i],threshholds = roc_curve(y_test,score_array[i])
    roc_auc[i] = auc(fpr[i],tpr[i])
    temp_label = ', ROC curve (area = %0.2f)' % roc_auc[i]
    temp_label = label_array[i] + temp_label
    plt.plot(fpr[i], tpr[i], label=temp_label)
plt.plot([0, 1], [0, 1], 'k--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
legend = plt.legend(loc="lower right",prop={'size':'11'})
plt.savefig("roc_samplev2.png")